@import url(/src/assets/TTNorms-Medium.otf);

:root {
  --active-bg: #0050a6;
  --active-color: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --active-bg: #0050a6;
  --active-color: white;
}

/* Typography */

h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 15px;
}

html {
  font-size: 16px;
}

body {
  font-family: "TTNorms-Medium", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "TTNorms-Medium", sans-serif;
}

.active__btn {
  background-color: #0050a6;
  color: var(--active-color);
}
